html{
    padding: 0;
    margin: 0;
    background-color: #ffabd5;

}
body{
    padding: 0;
    margin: 0;
}
header{
    margin:0;
    padding: 0;
    background-color: #ffffff;
    text-align: left;
    color: #ffabd5;
}
img{
    display: inline;
    position: absolute;
    height: 60px;
    width: 60px;
}
#text{
    display: inline;
}
h1{
    margin: 0;
    padding-left: 75px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    margin: 0;
    padding-left: 75px;
    font-family: 'Courier New', Courier, monospace;
}
#links {
    position: absolute;
    top: 35px;
    display: flex;
    gap: 60px;
    right: 75px;
}
#links div {
    display: inline-block;
    transform: scale(75%);
}
.pink{
    margin: 0;
    background-color: #ffabd5;
    color: #ffabd5;
}
.white{
    margin: 0;
    color: #ffffff;
    background-color: #ffffff;
}

#textboxbox{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#textbox{
    border-radius: 50px;
    background-color: #ffffff;
    max-width: 79vw;
}
#textbox h1{
    margin-top: 25px;
    padding-left: 25px;
    color: #ffabd5;
    font-family: Arial, Helvetica, sans-serif;
}
#textbox p{
    padding: 0 50px;
    font-family: 'Courier New', Courier, monospace;
    color: #e67cb1;
    font-size: large;
}


#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
#shelf{
    margin: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: fit-content;
    background-color: #ffffff;
    border-radius: 50px;
}
.scrolable{
    margin: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 79vw;;
    background-color: #ffffff;
    border-radius: 50px;

}
.scrolable button{
    width: 200px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background-color: #ffffff;
    border: solid 3px #ffabd5;
    color: #ffabd5;
    font-size: 50px;
    font-weight: bolder;
    margin: 100px;
}
.scrolable button span{
    transform: translateY(-5px);
}
.scrolable button.right{
    transform: rotate(270deg);
}
.scrolable button.right:hover{
    transform: scale(125%) rotate(270deg);
    z-index: 1;
    transition-timing-function: ease-out;
    transition: all 0.25s;
}
.scrolable button.right:not(:hover){
    transform: scaleX(100%) rotate(270deg);
    transition-timing-function: ease-out;
    transition: all 0.125s;
}
.scrolable button.left{
    transform: scaleX(-100%) rotate(-90deg);
}
.scrolable button.left:hover{
    transform: scaleX(-125%) scaleY(125%) rotate(-90deg);
    z-index: 1;
    transition-timing-function: ease-out;
    transition: all 0.25s;
}
.scrolable button.left:not(:hover){
    transform: scaleX(-100%) rotate(-90deg);
    transition-timing-function: ease-out;
    transition: all 0.125s;
}
.scrolable button:active{
    background-color: #e67cb1;
    border: solid 3px #c95c93;
    color: #c95c93;
}


.border{
    margin: 20px auto;
    padding: 15px;
    width:  25vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border:hover{
    transform: scale(125%);
    z-index: 1;
    transition-timing-function: ease-out;
    transition: all 0.25s;
}
.border:not(:hover){
    transform: scale(100%);
    transition-timing-function: ease-out;
    transition: all 0.125s;
}
.border img{
    margin: auto;
    width:  25vw;
    height: 25vw;
    border-radius: 10px;
    border: solid #ffd0e7;
}
.border.left{
    transform: scale(75%) translate(-60px);
    z-index: 0;
}
.border.right{
    transform: scale(75%) translate(60px);
    z-index: 0;
}
.border.focus{
    z-index: 1;
}

#FSmain{
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    max-height: fit-content;
}
.FSborder{
    margin: 20px auto;
    padding: 15px;
    width:  100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}
.FSborder img {
    width: 80vw;  
    height: 80vh; 
    object-fit: contain; 
}
#image{
    margin: 0;
    padding: 0;
    transform: translateY(-11vh);
    
}
#link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffabd5;
    background-color: #ffffff;
    font-size: xx-large;
    font-weight: bolder;
    padding: 15px;
    border-radius: 15px;
    transform: translateY(-100vh) translateX(-70px);
    max-width: fit-content;
    text-align: center;
    
}

#link:hover{
    transform: translateY(-100vh) translateX(-70px) scale(125%);
    transition-timing-function: ease-out;
    transition: all 0.25s;
}
#link:not(:hover){
    transform: translateY(-100vh) translateX(-70px) scale(100%);
    transition-timing-function: ease-out;
    transition: all 0.125s;
}

#link a{
    text-decoration: none;
}
#link a:visited{
    color: #ffabd5;
}

.loader{
    background-color: red;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 50;
}
.loading{
    overflow: hidden;
}